.container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movieContainer{
    background-color: rgba(128, 128, 128, 0.382);
    width: 95%;
    border-radius: 10px;
    position: relative;
    top: 90px;
}
li{
    list-style: none;
}
.imgContainer{
    height: 200px;
    
}